* {
    margin: 0;
    padding: 0;
    box-shadow: none;
    /* direction: rtl; */
}

.para {
    height: 85vh;
    margin-top: 7px;
}

.parallax1Content {
    width: 560px;
    height: 120px;
    position: absolute;
    right: 160px;
    top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.parallaxText {
    color: white;
}

.parallaxButton {
    width: 260px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 50px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    background-color: #21af17;
}


.para2 {
    height: 80vh;
    margin-top: 7px;
}

.parallax2Content {
    width: 100%;

}

.content {
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 60vh;
    margin-top: 33px;
    padding-top: 3%;
}

.title {
    width: 25vw;
    text-align: center;
    position: relative;

}

.title h3 {
    position: absolute;
    top: 25%;
    right: 50%;
    transform: translate(50%, 50%);
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
}


.slider {
    width: 70vw;
    padding-top: 40px;
}

.cur {
    margin: 0 auto;
    width: 90%;
    padding-left: 15px;
}

.category {
    width: 90%;
    margin: 0 auto;

}

.category__image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 15px;
}

.cat1 {
    grid-area: 1 / 1 / 2 / 2;
}

.cat1 img {
    width: 100%;
}

.cat2 {
    grid-area: 1 / 2 / 2 / 3;
}

.cat2 img {
    width: 100%;
}

.cat3 {
    grid-area: 1 / 3 / 2 / 4;
}

.cat3 img {
    width: 100%;
}

.cat4 {
    grid-area: 2 / 3 / 3 / 4;
}

.cat4 img {
    width: 100%;
}

.cat5 {
    grid-area: 2 / 2 / 3 / 3;
}

.cat5 img {
    width: 100%;
}

.cat6 {
    grid-area: 2 / 1 / 3 / 2;
}

.cat6 img {
    width: 100%;
}

@media only screen and (max-width: 550px) {
    .para {
        margin-top: 0px;
    }

    .parallax1Content {
        width: 380px;
        top: 100%;
        right: 50%;
        transform: translate(50%, 20%);
    }

    .parallaxText {
        white-space: wrap;
        text-align: center;
        line-height: 2.2rem;
    }

    .category__image {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .cat1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .cat2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .cat3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .cat4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .cat5 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .cat6 {
        grid-area: 3 / 2 / 4 / 3;
    }
    
}